<!DOCTYPE html>
<html>
<head>
    <title>Music Aplication</title>
    <meta charset="UTF-8">
</head>
<body>
 	<form method="post" action="/gestion/newArtist/Add">
		<div>
			<h2>Crear nuevo artista</h2>
		</div>						
		<label> Nombre del artista: </label>
		<div>
			<input type="text" name = "nameArtist"/> 
		</div> 
		<label> Año: </label>
		<div>
			<input type="text" name="yearArtist"/>
		</div>
		<label> Estilo: </label>
		<div>
			<input type="text" name="nameStyle"/>
		</div>
		<div>
			<input type="submit" value="Crear">	
		</div>
	<form> 	
</body>
</html>